{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <p>&nbsp;</p>
    <div class="es-wrapper-color" style="background-color: #011744;">
        <!-- [if gte mso 9]&gt;-->
        <table class="es-wrapper"
            style="border-collapse: collapse; border-spacing: 0px; padding: 0; margin: 0; width: 100%; height: 100%; background-position: center center; background-color: #ffffff;"
            width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="padding: 0; margin: 0;" valign="top">
                        <table class="es-content" style="border-collapse: collapse; border-spacing: 0px; width: 100%;"
                            cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="es-m-p15r es-m-p15l" style="padding: 0; margin: 0;" align="center">
                                        <table class="es-content-body"
                                            style="border-collapse: collapse; border-spacing: 0px; background-color: transparent; width: 850px;"
                                            cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 0; margin: 0; padding-top: 30px; padding-left: 40px; padding-right: 40px;"
                                                        align="left"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="es-m-p30t es-m-p30b es-m-p20r es-m-p20l"
                                                        style="padding: 40px; margin: 0; background-color: #ffffff; border-radius: 25px 25px 0px 0px;"
                                                        align="left" bgcolor="#ffffff">
                                                        <table style="width: 770px;" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 720px;" valign="top"><br />
                                                                        <table class="es-left"
                                                                            style="border-collapse: collapse; border-spacing: 0px; float: left;"
                                                                            cellspacing="0" cellpadding="0"
                                                                            align="left">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="es-m-p20b"
                                                                                        style="padding: 0; margin: 0; width: 720px;"
                                                                                        align="left">
                                                                                        <table
                                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                                            role="presentation"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding: 0; margin: 0;"
                                                                                                        align="center">
                                                                                                        <h1
                                                                                                            style="margin: 0; line-height: 43px; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 36px; font-style: normal; font-weight: bold; color: #1f3b73;">
                                                                                                            Te damos la
                                                                                                            bienvenida
                                                                                                            al mejor
                                                                                                            evento de
                                                                                                            Marketing
                                                                                                            Digital de
                                                                                                            este 2022
                                                                                                        </h1>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="padding: 0; margin: 0; padding-top: 20px; font-size: 0px;"
                                                                                                        align="center">
                                                                                                        <img class="adapt-img"
                                                                                                            style="border: 0; text-decoration: none;"
                                                                                                            src="https://zolocd.stripocdn.email/content/guids/CABINET_448ae05e59885ecfff56653510ba03b9/images/educaccionweb.jpg"
                                                                                                            alt=""
                                                                                                            width="720" />
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td style="padding: 0; margin: 0; padding-top: 30px;"
                                                                                                        align="center">
                                                                                                        <p
                                                                                                            style="margin: 0; font-family: 'Exo 2', sans-serif; line-height: 53px; color: #3399ff; font-size: 35px;">
                                                                                                            <strong>Hola </strong>{display_name}!
                                                                                                                <div id="formulario">
                                                                                                                    <h1>Hola</h1>
                                                                                                                    {% csrf_token %}
                                                                                                                    <p> code </p>
                                                                                                                    <input type="text" id="id_code">
                                                                                                                    <div id='btn_sent' class="btn btn-primary">
                                                                                                                        enviar
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                                                                                                                
                                                                                                            <div id="message">
                                                                                                                Aca va el super message
                                                                                                            </div>
                                                                                                        </p>
                                                                                                    </td>
                                                                                                </tr>

                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td style="width: 20px;"> </td>
                                                                    <td style="width: 30px;" valign="top"><br />
                                                                        <table class="es-right"
                                                                            style="border-collapse: collapse; border-spacing: 0px; float: right;"
                                                                            cellspacing="0" cellpadding="0"
                                                                            align="right">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0; margin: 0; width: 30px;"
                                                                                        align="left">
                                                                                        <table
                                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding: 0; margin: 0;"
                                                                                                        align="center"> 
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 40px; margin: 0; background-color: #ffffff;"
                                                        align="left" bgcolor="#ffffff">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 40px; margin: 0; background-color: #ffffff;"
                                                        align="left" bgcolor="#ffffff">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0; margin: 0; width: 770px;"
                                                                        align="center" valign="top">

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0; margin: 0; padding-top: 0px; padding-left: 40px; padding-right: 40px;"
                                                        align="left">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0; margin: 0; width: 770px;"
                                                                        align="center" valign="top">
                                                                        <table
                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                            role="presentation" width="100%"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0; margin: 0;"
                                                                                        align="center" height="15"> 
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                                                                <tr>
                                                    <td style="padding: 40px; margin: 0; background-color: #ffffff;"
                                                        align="left" bgcolor="#ffffff">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0; margin: 0; width: 770px;"
                                                                        align="center" valign="top">
                                                                        <table
                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                            role="presentation" width="100%"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody>

                                                                                <tr>
                                                                                    <td style="padding: 0; margin: 0; font-size: 0px;"
                                                                                        align="center"><img
                                                                                            class="adapt-img"
                                                                                            style="border: 0; text-decoration: none;"
                                                                                            src="https://zolocd.stripocdn.email/content/guids/CABINET_448ae05e59885ecfff56653510ba03b9/images/logo_banner_imebu_bga400.png"
                                                                                            alt="" width="770" /></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                                                                <tr>
                                                    <td class="es-m-p30t es-m-p30b es-m-p20r es-m-p20l"
                                                        style="padding: 40px; margin: 0; background-color: #f9f9f9; border-radius: 0px 0px 20px 20px;"
                                                        align="left" bgcolor="#f9f9f9">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0; margin: 0; width: 770px;"
                                                                        align="center" valign="top">
                                                                        <table
                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                            role="presentation" width="100%"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="es-m-p30t es-m-p30b"
                                                        style="padding: 0; margin: 0; padding-top: 40px; padding-bottom: 40px; background-color: #ffffff; border-radius: 20px;"
                                                        align="left" bgcolor="#ffffff">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="es-m-p20l es-m-p20r"
                                                                        style="padding: 0; margin: 0; padding-left: 40px; padding-right: 40px; width: 850px;"
                                                                        align="center" valign="top">
                                                                        <table
                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                            role="presentation" width="100%"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0; margin: 0;"
                                                                                        align="center">
                                                                                        <p
                                                                                            style="margin: 0; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 45px; color: #1f3b73; font-size: 30px;">
                                                                                            <strong>Síguenos en nuestras
                                                                                                redes sociales:</strong>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="es-m-txt-c"
                                                                                        style="padding: 0; margin: 0; padding-top: 15px; padding-bottom: 15px; font-size: 0;"
                                                                                        align="center">
                                                                                        <table
                                                                                            class="es-table-not-adapt es-social"
                                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                                            role="presentation"
                                                                                            cellspacing="0"
                                                                                            cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding: 0; margin: 0; padding-right: 10px;"
                                                                                                        align="center"
                                                                                                        valign="top"><a
                                                                                                            style="text-decoration: underline; color: #391484; font-size: 18px;"
                                                                                                            href="https://www.facebook.com/mediostic.co"
                                                                                                            target="_blank"
                                                                                                            rel="noopener"><img
                                                                                                                style="border: 0; text-decoration: none;"
                                                                                                                title="Facebook"
                                                                                                                src="https://zolocd.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png"
                                                                                                                alt="Fb"
                                                                                                                height="64" /></a>
                                                                                                    </td>
                                                                                                    <td style="padding: 0; margin: 0; padding-right: 10px;"
                                                                                                        align="center"
                                                                                                        valign="top"><a
                                                                                                            style="text-decoration: underline; color: #391484; font-size: 18px;"
                                                                                                            href="https://twitter.com/mediostic"
                                                                                                            target="_blank"
                                                                                                            rel="noopener"><img
                                                                                                                style="border: 0; text-decoration: none;"
                                                                                                                title="Twitter"
                                                                                                                src="https://zolocd.stripocdn.email/content/assets/img/social-icons/logo-black/twitter-logo-black.png"
                                                                                                                alt="Tw"
                                                                                                                height="64" /></a>
                                                                                                    </td>
                                                                                                    <td style="padding: 0; margin: 0; padding-right: 10px;"
                                                                                                        align="center"
                                                                                                        valign="top"><a
                                                                                                            style="text-decoration: underline; color: #391484; font-size: 18px;"
                                                                                                            href="https://www.instagram.com/mediostic"
                                                                                                            target="_blank"
                                                                                                            rel="noopener"><img
                                                                                                                style="border: 0; text-decoration: none;"
                                                                                                                title="Instagram"
                                                                                                                src="https://zolocd.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png"
                                                                                                                alt="Inst"
                                                                                                                height="64" /></a>
                                                                                                    </td>
                                                                                                    <td style="padding: 0; margin: 0; padding-right: 10px;"
                                                                                                        align="center"
                                                                                                        valign="top"><a
                                                                                                            style="text-decoration: underline; color: #391484; font-size: 18px;"
                                                                                                            href="https://www.youtube.com/mediostic"
                                                                                                            target="_blank"
                                                                                                            rel="noopener"><img
                                                                                                                style="border: 0; text-decoration: none;"
                                                                                                                title="Youtube"
                                                                                                                src="https://zolocd.stripocdn.email/content/assets/img/social-icons/logo-black/youtube-logo-black.png"
                                                                                                                alt="Yt"
                                                                                                                height="64" /></a>
                                                                                                    </td>
                                                                                                    <td style="padding: 0; margin: 0;"
                                                                                                        align="center"
                                                                                                        valign="top"><a
                                                                                                            style="text-decoration: underline; color: #391484; font-size: 18px;"
                                                                                                            href="https://www.tiktok.com/@medios_tic"
                                                                                                            target="_blank"
                                                                                                            rel="noopener"><img
                                                                                                                style="border: 0; text-decoration: none;"
                                                                                                                title="TikTok"
                                                                                                                src="https://zolocd.stripocdn.email/content/assets/img/social-icons/logo-black/tiktok-logo-black.png"
                                                                                                                alt="Tt"
                                                                                                                height="64" /></a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="es-m-txt-c"
                                                                                        style="padding: 0; margin: 0; padding-top: 15px;"
                                                                                        align="center">
                                                                                        <p
                                                                                            style="margin: 0; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 27px; color: #666666; font-size: 18px;">
                                                                                            Copyright © 2022 Medios TIC.
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="padding: 0; margin: 0; padding-top: 30px; padding-left: 40px; padding-right: 40px;"
                                                        align="left">
                                                        <table style="border-collapse: collapse; border-spacing: 0px;"
                                                            width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0; margin: 0; width: 770px;"
                                                                        align="center" valign="top">
                                                                        <table
                                                                            style="border-collapse: collapse; border-spacing: 0px;"
                                                                            role="presentation" width="100%"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0; margin: 0;"
                                                                                        align="center" height="15"> 
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="{% static 'js/script.js'%}"></script>

</html>